@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SorryView</title>
</head>
<body>
    <div>
        <img src="../../Content/Photos/12684593517538.jpg" /> 赶紧让主人给你分配权限吧
    </div>
</body>
</html>
