.mianbox {
    width: 62%;
    margin-top: 40px;
    overflow: visible;
    clear: both;
    min-height: 70px;
    -webkit-box-shadow: 0 0 7px gray;
    -ms-box-shadow: 0 0 7px gray;
    box-shadow: 0 0 7px gray;
}

.totoal span {
    color: #00bfff;
    font-size: 2em;
    font-family: Gungsuh;
}

.totoal {
    margin: 10px 0 10px 0;
    font-size: medium;
    text-indent: 10px;
}
 .vline:hover{background-color: #f0ffff;}
.hold {
    background-color: white;
    padding: 25px;
    min-height:380px;height: auto;
}

.leftspan {
    width: 30%;
}

.box {
    padding-left: 15%;
    position: relative;
}

.leftspan span {
    position: absolute;
    top: 50px;
    left: 120px;
    font-family: 楷体;
    font-size: larger;
}

.imgleft img {
    width: 70px;
    height: 70px;
}
.imgleft>div{ color: gray;font-size: small;}
.message {
    float: left;
    padding: 10px;
    padding-bottom: 20px; 
    position: relative;
    min-height: 45px;height: auto;
    width: 80%;
}.message img {
      display: inline;max-height: 50px;max-width: 50px;vertical-align: top;margin-right: 5px;cursor:pointer;
 }
.messagefoot { position: absolute;bottom: 0;left: 0; width: 90%;padding-left: 10px}
.messagefoot .chat{ float: right; cursor: pointer;}
    .message span {
        color: gray;
    }
  .vline{clear: both;min-height: 70px; overflow: auto;height: auto ;padding:10px 10px 0; border-bottom: 1px gainsboro solid;}
    .imgleft{width: 70px;height: 100px;float: left; }
    .statediv{ display: block;color: gray;font-size: small;}