@{
    ViewBag.Title = "ErroResult";
}
<link href="../../Content/CSS/topicnav.css" rel="stylesheet" />
@Html.Action("TopicNav") 
<div class="mianbody">
    <img src="../../Content/Photos/weiqu.jpg" />
    <h3>你要找的话题不存在了...</h3>
</div>
