<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\AsynAction\packages.config" />
  <repository path="..\CKeditor\packages.config" />
  <repository path="..\FilterTest\packages.config" />
  <repository path="..\Findlover\packages.config" />
  <repository path="..\MvcApp3\packages.config" />
  <repository path="..\MvcDemo\packages.config" />
</repositories>