<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="file" xsi:type="File" fileName="${basedir}/logs/user/${logger}.${level}.txt" layout="${longdate}|${message}"/>
    <target name="exception" xsi:type="File" fileName="${basedir}/logs/${shortdate}/${logger}.${level}.txt" layout="${longdate}|${message}|${exception}"/>
    <target name="fileforadmin" xsi:type="File" fileName="${basedir}/logs/admin/${logger}.${level}.txt" layout="${longdate}|${message}"/>
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!--<logger name="*"  maxlevel="Error" writeTo="file"/>-->
    <!--<logger name="*" level="Fatal" writeTo="exception"/>-->
    <!--<logger name="*" minlevel="Info" writeTo="logMethod"/>-->

    <logger name="*" level="Debug" writeTo="file" />
    <logger name="*" level="Trace" writeTo="fileforadmin" />

  </rules>
</nlog>